/* ==============================
   BASE
   ============================== */
body {
    background-color: #ffeadb;
    color: #314539;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 800px;
    margin: auto;
}

a {
    color: #314539;
    text-decoration: none;
}

img {
    width: 800px;
    height: auto;
    display: block;
    margin: auto;
}

/* ==============================
   HEADER
   ============================== */
header {
    background-color: #678a74;
    padding-top: 10px;
}

header h1 {
    color: #ffeadb;
    font-family: 'Rock Salt', serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}

header p {
    color: #FFF6F0;
    font-family: 'DM Serif Text', Arial;
    text-align: center;
    font-size: 20px;
}

/* ==============================
   NAVIGATION
   ============================== */
nav {
    display: flex;
    justify-content: center;
    background-color: #f7c5a8;
}

nav a {
    margin: 10px;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: 'DM Serif Text', Arial;
    font-size: 15px;
}

/* ==============================
   MAIN
   ============================== */
main {
    background-color: #FFF6F0;
    padding-top: 1px;
}

/* ==============================
   SECTIONS
   ============================== */
section {
    background-color: #f7c5a8;
}

/* ==============================
   ABOUT RECIPE BOX
   ============================== */
.about-recipe-box {
    background-color: #FFF6F0;
    text-align: center;
    font-size: 15px;
}

.about-recipe-box h2 {
    font-family: 'DM Serif Text', Arial;
}

/* ==============================
   CONTAINER
   ============================== */
.container {
    display: flex;
}

.container h3 {
    font-family: 'DM Serif Text', Arial;
}

/* ==============================
   INGREDIENSES
   ============================== */
#ingredients {
    width: 25%;
}

/* ==============================
   FOOTER
   ============================== */
footer {
    background-color: #f7c5a8;
}

/* ==============================
   ARTICLE BOX
   ============================== */
.article-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

/* ==============================
   CONTACT
   ============================== */
#contact h3,
#openhours h3 {
    text-align: center;
}

#contact p,
#openhours p {
    margin-left: 20px;
}
#contact ,
#openhours  {
    width: 50%;
}